/AssayType_DesiredResults_UsedColumns.xlsx
/LC50_prediction_set-2d.csv
/LC50_training_set-2d.csv
/Multivariate_Imputed_Numerical_Columns.csv
/Test_Data.csv
/inVitro_Rows.csv
/inVitro_expanded_categorical.data.csv
/inVitro_fixed_categorical.data.csv
/inVitro_post_processed_units.csv
/inVitro_processed_units.csv
